// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-author {
  color: black;
  font-weight: 600;
  text-transform: lowercase;
  padding-right: 5px;
}

.comment-body {
  text-align: center;
}
