// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-author {
  margin-left: 12px;
  font-weight: 600;
}

.comment-body {
  text-align: center;
}
