#root {
  background-color: #fafafa;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // height: 100%;
  // width: 1381px;
  // margin: 0 auto;
  // postion: absolute;
  font-family: sans-serif;
  // background-color: #efefef
  // min-height: 100%;
  // top: 10px;
}

.login-page {
  display: flex;
  flex-direction: column;
  // align-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 100px;
  // position: relative;
}

.full-form-container {
  // background-color: pink;
  display: flex;
  justify-content: center;
  // align-items: center;
  // flex-direction: column;
  width: 935px;
  height: 662px;
  // margin-top: 50px;
  // position: fixed;
  // border: 2px solid red;
  // z-index: 100;
}

.login-form-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  // align-self: flex-end;
  flex-direction: column;
  // flex-wrap: wrap;
  // height: 100%;
  // height: 356px;
  margin: 0 0 10px;
  border: 1px solid #e6e6e6;
}

.login-form-header {
  margin: 22px auto 12px;
  font-size: 30px;
  font-family: 'Faster One', cursive;
  text-transform: uppercase;
}

.form-input-container {
  // background-color: purple;
  display: flex;
  justify-content: center;
  height: 239px;
}

.username-input-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fafafa;
  font-size: 14px;
  position: relative;
  border: 1px solid #efefef;
  width: 258px;
  height: 36px;
}

.username-input {
  line-height: 18px;
  width:250px;
  border: 0;
  padding: 9px 0 7px 8px;
  opacity: 0.6;
}

.password-input-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fafafa;
  font-size: 14px;
  position: relative;
  border: 1px solid #efefef;
  width: 258px;
  height: 36px;
  margin-top: 5px;
}

.password-input {
  line-height: 18px;
  width:250px;
  border: 0;
  padding: 9px 0 7px 8px;
  opacity: 0.6;
}

.login-button-container {
  margin-top: 8px;
  // margin-left: 40px;
  // margin-right: 40px;
  margin-bottom: 8px;
}

.login-button {
  opacity: .3;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  position: relative;
  padding: 5px, 9px;
  font-weight: 600;
  // line-height: 18px;
  width:258px;
  height:30px;
  // font-size: 14px;
}

.my_image {
  background-image: image_url('homepage_IG.png');
  background-size: 475px;
  width:50%;
  // height:100%;
}

.login-links-form {
  // background-color: purple;
  display: flex;
  width: 350px;
  // width: 50%;
  flex-direction: column;
  position: relative;
  top: 40px;
  // height: 102px;
}

.login-links {
  // background: purple;
  display: flex;
  // min-height:
  flex-direction: column;
  align-items: center;
  min-height:152px;
}

// .forgot-password1 {
//   position: relative;
// }

.forgot-password2 {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  // text-align: center;
  color: #003569;
}

.signup-text-container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  margin: 0 0 10px;
  border: 1px solid #e6e6e6;
}

.inner-signup-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signup-text {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.demo-button {
  opacity: .3;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  // border-radius: 4px;
  color: #fff;
  position: relative;
  // padding: 5px, 9px;
  margin-bottom: 5px;
  font-weight: 600;
}


.appstore-links {
  margin: 10px 0;
  text-align: center;
}

.appstore-buttons {
  // background-color: black;
  // width: 175px;
}

.footer-container {
  // background-color: black;
  // padding: 25px;
  width:1381px;
  height:104px;
  // max-width: 935px;
  // postion: fixed;
  display: block;
  // align-items: stretch;
  // flex-direction: row;
  // position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 80px;
  // width: 100%
  // text-align: center;
  // margin: 0 auto;
}

.footer-inner-container {
  // max-width: 935px;
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
  // box-orient: horizontal;
  display: flex;
  justify-content: center;
  padding: 38px 0;
  // vertical-align: baseline;
  // align-items: stretch;
}

.nav-logo-container {
  display: flex;
  width: 935px;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-nav-bar {
  width: 745.5px;
  // max-width: 100%;
  height: 28px;
  // display: flex;
  // box-align: stretch;
  // flex-direction: row;
  // vertical-align: baseline;
  font: inherit;
  text-decoration: none;

}

.footer-nav-itemlist {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}

.footer-nav-items {
  // float: left;
  // display: flex;
  // text-decoration: none;
}

.footer-nav-links {
  text-decoration: none;
}

.copyright-logo {
  color: #999
}
