.feed {
  margin-top: 100px;
}

.feed-scroll {
  width: 935px;
}

.post-item-container {
  margin: 60px;
  border: 1px solid #e6e6e6;
}

.post-img-container {
  width: 614px;
  height: 614px;
}

.post-img {
  width: 100%;
  height: 100%;
}
