.feed {
  margin-top: 50px;
  // display: flex;
  // flex-direction: row;
}

.feed-container {
  display: flex;
  flex-direction: row;
  // margin: 60px;
}

.feed-scroll {
  display: flex;
  flex-direction: row;
  width: 642px;
  margin-bottom: 60px;
}

.post-item-container {
  margin: 0 0 10px 0;
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
  // background-color: red;
}

.post-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 614px;
  height: 60px;
  // padding: 30px;
  font-size: 14px;
  text-transform: lowercase;
  border-bottom: 1px solid #efefef
}

.author-profile-picture {
  background-image: image_url('temp_prof_pic.png');
  background-size: 30px 30px;
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

.author-username {
  color: #262626;
  font-weight: 600;
}

.post-img-container {
  width: 614px;
  height: 614px;
}

.post-img {
  height: 100%;
  width: 100%;
  // max-width:614px;
  // max-height:614px;
  // position: relative;
  // left: 50%;
  // min-width: 100%;
  // min-height: 100%;
  // transform: translateX(-50%);
  // display: block;
  // max-width: 614px;
  // max-height: 614px;
  // width: auto;
  // height: auto;
  // object-fit: cover;
}

.post-footer-container {
  width: 614px;
  height: 290px;
  // left: 100px;
  // padding: 0 16px;
  position: relative;
}


.post-icons-bar {
  display: flex;
  margin-top: 4px;
  // justify-content
  // flex-direction: row;
}

.like-icon {
  margin: 8px 8px;
}

.feather {
  fill: none;
}

.feather-heart {
  fill: red;
}

.comment-icon {
  margin: 8px 8px;
}

.share-icon {
  margin: 8px 8px;
}

.favorite-icon-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  // width: 40px;
}

.favorite-icon {
  margin: 6px 10px;
}

.likes-count-container {
  // display: flex;
  // align-items: center;
  width: 100%;
  height: 18px;
}

.likes-count {
  margin-left: 12px;
  font-weight: 600;
}

.poster-comment-container {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
  list-style-type: none;
  // text-align: center;
  // justify-content: center;
  // align-self: center;
  // align-content: center;
  // align-items: center;
  // justify-content: flex-start;
  // flex-wrap: wrap;
  // margin: 0;
  // flex-direction: flex-start;
  // width: 40px;
  // height: 18px;
}

.poster-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  // list-style-type: none;
}

.post-author {
  font-weight: 600;
  text-transform: lowercase;
  margin-left: 12px;
  text-align: center;
  padding-top: 5px;
  padding-right: 5px;
}

.user-caption-wrapper {
  text-align: center;
  padding-top: 5px;
}

.user-caption {
  // padding: 16px;
  list-style-type: none;
  // padding: 5px;
  // padding-top: 5px;
  // padding-right: 5px;
}

.post-comment {
  display: flex;
  flex-direction: row;
}

.time-of-post {
  width: 582px;
  height: 19px;
  margin-left: 12px;

  // padding: 16px;
}

.comment-box-container {
  width: 100%;
  height: 56px;
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.comment-box {
  width: 100%;
  height: 18px;
  margin-left: 12px;

}

.comment-form {
  width: 100%;
  height: 100%;
}

.comments {
  width:99%;
  // min-width: 100%;
  // margin-left: 8px;
  resize: none;
  border: none;
  // box-shadow: none;
  outline: none;
}

// SIDE NAV STARTS HERE

.side-nav-container {
  display: flex;
  flex-direction: column;
  // justify-content: column;
  // align-items: space-between;
  margin-top: 60px;
  width: 293px;
  height: 609px;
}

.side-user-nav {
  width: 100%;
  height: 62px;
}

.side-username {
  text-decoration: none;
  color: #262626;
}

.side-fullname {
  font-size: 12px;
  line-height: 14px;
  color: #999;
}

.stories-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 27px;
  padding: 0 0 16px;
  margin-top: 4px;
}

.stories-text {
  color: #999;
  font-weight: 500;
  font-size: 15px;
}

.watchall-text {
  font-size: 14px;
}
