.feed {
  margin-top: 50px;
  // display: flex;
  // flex-direction: row;
}

.feed-container {
  display: flex;
  flex-direction: row;
  // margin: 60px;
}

.feed-scroll {
  display: flex;
  flex-direction: row;
  width: 642px;
}

.post-item-container {
  margin: 0 0 10px 0;
  border: 1px solid #e6e6e6;
}

.post-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 614px;
  height: 60px;
  // padding: 30px;
  font-size: 14px;
  text-transform: lowercase;
  border-bottom: 1px solid #efefef
}

.author-profile-picture {
  background-image: image_url('temp_prof_pic.png');
  background-size: 30px 30px;
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

.author-username {
  color: #262626;
  font-weight: 600;
}

.post-img-container {
  width: 614px;
  height: 614px;
}

.post-img {
  width: 100%;
  height: 100%;
}

.post-footer-container {
  width: 614px;
  height: 216px;
}


.post-icons-bar {
  display: flex;
  margin-top: 4px;
  // justify-content
  // flex-direction: row;
}

.like-icon {
  margin: 10px 10px;
}

.comment-icon {
  margin: 10px 10px;
}

.share-icon {
  margin: 10px 10px;
}

.favorite-icon-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  // width: 40px;
}

.favorite-icon {
  margin: 6px 10px;
}


.poster-comment-container {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  // margin: 0;
  // flex-direction: flex-start;
  // width: 40px;
  // height: 18px;
}
//
.post-author {
  font-weight: 600;
  text-transform: lowercase;
  // width: auto;
  // margin-right: 20px;
}
//
.user-caption {
  // padding: 16px;
  list-style-type: none;
  padding: 5px;
}

// .user-caption-wrapper {
//   min-width:
// }

.time-of-post {
  width: 582px;
  height: 19px;
  padding: 16px;
}
// SIDE NAV STARTS HERE

.side-nav-container {
  display: flex;
  flex-direction: column;
  // justify-content: column;
  // align-items: space-between;
  margin-top: 60px;
  width: 293px;
  height: 609px;
}

.side-user-nav {
  width: 100%;
  height: 62px;
}

.side-username {
  text-decoration: none;
  color: #262626;
}

.side-fullname {
  font-size: 12px;
  line-height: 14px;
  color: #999;
}

.stories-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 27px;
  padding: 0 0 16px;
  margin-top: 4px;
}

.stories-text {
  color: #999;
  font-weight: 500;
  font-size: 15px;
}

.watchall-text {
  font-size: 14px;
}
