.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout-modal-container {
  padding: 4px 8px;
  background: white;
  position: relative;
  border-radius: 12px;
}

.logout {
  width: 384px;
  height: 40px;
  border: 0;
  font-size: 16px;
}

// post-show

.post-show-container {
  // outline: 1px solid black;
  // padding: 4px 8px;
  display: flex;
  background: white;
  position: relative;
  width: 916px;
  height: 600px;
  // border-radius: 12px;
}

.post-show {
  width: 600px;
  height: 600px;
}

.post-show-image {
  width: 600px;
  height: 600px;
  background-size: cover;
}

.post-show-sidebar {
  padding: 10px;
  width: 100%;
}

.post-show-header {
  height: 72px;
  // font-weight: 600;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  // text-align: center;
  // line-height: 3;
  padding-bottom: 10px;
}

.post-show-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.post-show-user {
  margin-left: 14px;
  line-height: 5;
  text-transform: lowercase;
}

.post-show-comment-container {
  height: 100%;
}

.post-show-comments {
  padding: 12px 0;
  height: 350px;
  border-bottom: 1px solid #efefef;
}

.time-of-postshow {
  height: 19px;
  margin-left: 12px;
  font-size: 12px;
  text-transform: uppercase;
  color: grey;
}