.nav-bar {
  position: fixed;
  background-color: #fafafa;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 77px;
  // width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

.inner-nav-bar {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;
}

.nav-items {
  display: flex;
  flex-direction: row;
  // width: 100%;
  // justify-content: center;
  align-items: center;
}

.feed-redirect {
  display: flex;
  width: 370px;
  // justify-content: space-between;
  // flex-direction: row;
  // text-align: center;
  // justify-content: center;
}

.site-icon {
  // display: flex;
  // align-items: center;
  background-image: image_url('jedi_symbol.jpg');
  background-size: 26px 26px;
  height: 26px;
  width: 26px;
  // width:50%;
}

.redirect-border {
  background-color: #262626;
  // border-left: thick solid red;
  height: 28px;
  width: 1px;
  margin: 0 16px;
}

.site-name {
  margin: 22px auto 12px;
  font-size: 24px;
  color: black;
  font-family: 'Faster One', cursive;
  // text-transform: uppercase;
  text-decoration:  none;
}

.search-bar-container {
  // display: inline;
  width: 215px;
  height: 28px;
  border: solid 1px #dbdbdb;
  font-weight: 300;
  text-align: center;
  z-index: 2;
  font-size: 14px;
  // padding: 7px;
  color: #999;
  border-radius: 3px;
  // margin-top: 10px;
}

.search-bar {
  margin-top: 5px;
  // bottom:
  // width: 100%;
  // height: 100%;
}

.search-text {
}

.menu-icons-container {
  // background-color: blue;
  display: flex;
  justify-content: flex-end;
  width: 377px;
  height: 24px;
}

.menu-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 156px;
  height: 24px;
  // background-color: pink;
}

.upload-icon {
  background-image: image_url('x-wing.png');
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
}

.activity-icon {
  background-image: image_url('rebel-symbol.jpg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
}

.user-icon {
  background-image: image_url('stormtrooper-icon.jpg');
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
}
