.full-session-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efefef;
}

.session-form-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  position:relative;
}

.session-form {
  display: flex;
  flex-direction: column;
}

.session-signup-container {
  width: 100%;
  height: 100%;
  border: 1px solid #e6e6e6;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
}

.signup-form-header {
  margin: 22px auto 12px;
  font-family: 'Faster One', cursive;
  text-align: center;
  font-size: 40px;
  height: 51px;
}

.signup-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
  color: #999;
}

.signup-demo-button-container {
  height: 32px;
  width: 100%;
  display: flex;
  margin-bottom: 24px;
}

.signup-demo-button {
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #3897f0;
  border: 1px radius #3897f0;
  border-radius: 4px;
  padding: 5px 9px;
  margin: 8px 30px;
}

.signup-demo-button:hover {
  box-shadow: 0px 0px 10px #3897f0;
}

.border-or-border {
  display: flex;
  flex-direction: row;
  margin: 10px 40px 18px;
  align-items: center;
  justify-content: space-around;
}

.signup-border-one {
  width: 120px;
  height: 1px;
  border: 1px solid #e6e6e6;
}

.signup-border-two {
  width: 120px;
  height: 1px;
  border: 1px solid #e6e6e6;
}

.signup-or-text {
  color: #999;
  margin-left: 12px;
  margin-right: 12px;
  // padding: 0 8px;
}

.signin-input-boxes {
  margin: 0 0 16px;
}

.signup-email-container {
  display: flex;
  justify-content: center;
}

.signup-box {
  display: flex;
  height: 36px;
}

.signup-input-text {
  width:100%;
  height:36px;
  border-radius: 3px;
  font-size: 16px;
  margin: 0 30px;
}

.signup-disclosure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.signup-login-link {
  text-decoration: none;
  color: blue;
}

.session-getapp-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.session-links-container {
  position: absolute;
  top: 0;
  right: 20px;
}

.session-linkedin {
  background-image: image_url('iconfinder_social_style_3_in_341103.png');
  background-size: 50px 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.session-linkedin:hover {
  box-shadow: 0px 0px 10px;
}

.session-github {
  display: inline-block;
  background-image: image_url('Github-Octocat.png');
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
}

.session-github:hover {
  box-shadow: 0px 0px 10px;
}
