.upload {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upload-form-container {
  // width: 100%;
  // height: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px;
  height: 500px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, .0975);
  border-radius: 6px;
  background-color: white;
}

.upload-locally {
  margin-left: 10px;
}

.caption-input {
  font-size: 18px;
  font-family: 'Faster One', cursive;
  // float: right;
}

.caption-input-text {
  // opacity: 0.2;
  // background-color: rgba(0,0,0,.0975)
}

// .side-nav-footer {
//   display: flex;
//   flex-wrap: wrap;
// }
